h1{
text-align: center;
}
.redText{
    color:red;
}
.blueText{
    color:blue;
}
.greenText{
    color:green;
}
.bigText{
    font-size: larger;
}
.smallText{
    font-size: x-small;
}
.centeredText{
    text-align: center;
}