h1{
text-align: center;
}
.redText{
    color:red;
}
.blueText{
    color:blue;
}
.greenText{
    color:green;
}
.bigText{
    font-size: xx-large;
}
.smallText{
    font-size: x-small;
}
.centeredText{
    text-align: center;
}
.boldText{
    font-weight: bold;
}
.creativeFont{
    font-family: cursive;
}
.bigOrangeBoldText{
    font-size: xx-large;
    color:orange;
    font-weight: bold;
}